* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/

.card_component {
  .container {
    width: 744px;
    margin: 0 auto;
  }
  .cards_row {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    .cards_item {
      margin: 20px 10px;
      .card {
        width: 225px;
        border: 3px solid rgb(236, 235, 234);
        height: 100%;
        display: flex;
        flex-direction: column;

        .card_image {
          margin: 0 auto;
          img {
            margin: 5px 0 0 0;
            height: 280px;
            width: 200px;
          }
        }

        .card_title {
          width: 210px;
          height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 18px;
          font-weight: bold;
          padding: 10px 5px 5px 15px;
        }
        .card_author {
          height: 40px;
          color: dimgray;
          padding: 10px 5px 5px 15px;
        }

        .card_price {
          color: rgb(59, 57, 57);
          font-size: 17px;
          font-weight: bold;
          letter-spacing: 2px;
          text-align: center;
          outline: 2px solid rgb(236, 235, 234);
          padding: 10px;
        }

        .card_btn {
          background-color: rgb(212, 206, 206);
          text-align: center;
          padding: 10px;
          outline: 2px solid rgb(212, 206, 206);
          font-size: 16px;
          cursor: pointer;
        }

        .card_btn:hover {
          background-color: rgb(163, 158, 158);
        }
      }
      .card:hover {
        border: 3px solid rgb(119, 114, 114);
      }
    }
  }
  .noResult {
    font-size: 30px;
    margin: 0 auto;
    padding: 30px;
  }
}
